@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");    /* essas exportação são para eu utilizar fonte como uma fonte roboto ou mulish que formata o texto */


/* tem muita coisa para comentar pois utilizo muito css no dia a dia e acabo empolgando  */


html {
    scroll-behavior: smooth;     /*  scrool para fazer a rolagem mais leve e a tag html para pegar o site todo   */
}


* {
    margin: 0;
    padding: 0;      /*  aplicando um estilo global para eliminar alguns css que pode me atrapalhar depois  */
    list-style: none;
    text-decoration: none;

}

header {
    width: 100%;        /* class css para estilizar o Header e deixar o vh 100 para ocupar a tela toda de visão  */
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* -----------------------------------menu--------------------------------- */


/* 
 a {
    color: inherit;
 }
 
 .menu-item,
 .menu-open-button {               esse é um menu que estou guardando para aplicar depois 
    background: #EEEEEE;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
 }
 
 .menu-open {
    display: none;
 }
 
 .lines {
    width: 25px;
    height: 3px;
    background: #596778;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
 }
 
 .line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
 }
 
 .line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
 
 .line-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
 }
 
 .menu-open:checked + .menu-open-button .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
 }
 
 .menu-open:checked + .menu-open-button .line-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
 }
 
 .menu-open:checked + .menu-open-button .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
 }
 
 .menu {
    margin: auto;
    position: absolute;
    top: -50%;
    left: 7%;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    box-sizing: border-box;
    font-size: 26px;
 }
 
 
 .menu-item {
    position: fixed;
 } 
 
 .menu-item:hover {
    background: #EEEEEE;
    color: #3290B1;
 }
 
 .menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
    z-index: 2000;
 }
 
 .menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
    z-index: 2000;
 }
 
 .menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
    z-index: 2000;
 }
 
 .menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
    z-index: 2000;
 }
 
 .menu-item:nth-child(7) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
    z-index: 2000;
 }
 
 
 .menu-open-button {
    z-index: 5000;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    position: fixed;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
 
 }
 
 .menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
 }
 
 .menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
 }
 
 .menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;
    -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
    transform: translate3d(0.08361px, -104.99997px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    -webkit-transition-duration: 280ms;
    -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
    transform: translate3d(90.9466px, -52.47586px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
    transform: translate3d(90.9466px, 52.47586px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 480ms;
    -webkit-transition-duration: 480ms;
    -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
    transform: translate3d(0.08361px, 104.99997px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 580ms;
    -webkit-transition-duration: 580ms;
    -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
    transform: translate3d(-90.86291px, 52.62064px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(8) {
    transition-duration: 680ms;
    -webkit-transition-duration: 680ms;
    -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
    transform: translate3d(-91.03006px, -52.33095px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(9) {
    transition-duration: 780ms;
    -webkit-transition-duration: 780ms;
    -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
    transform: translate3d(-0.25084px, -104.9997px, 0);
 }
 
 .blue {
    background-color: #669AE1;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .blue:hover {
    color: #669AE1;
    text-shadow: none;
 }
 
 .green {
    background-color: #70CC72;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .green:hover {
    color: #70CC72;
    text-shadow: none;
 }
 
 .red {
    background-color: #FE4365;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .red:hover {
    color: #FE4365;
    text-shadow: none;
 }
 
 .purple {
    background-color: #C49CDE;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .purple:hover {
    color: #C49CDE;
    text-shadow: none;
 }
 
 .orange {
    background-color: #FC913A;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .orange:hover {
    color: #FC913A;
    text-shadow: none;
 }
 
 .lightblue {
    background-color: #62C2E4;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .lightblue:hover {
    color: #62C2E4;
    text-shadow: none;
 }
 
 .credit {
    margin: 24px 20px 120px 0;
    text-align: right;
    color: #EEEEEE;
 }
 
 .credit a {
    padding: 8px 0;
    color: #C49CDE;
    text-decoration: none;
    transition: all 0.3s ease 0s;
 }
 
 .credit a:hover {
    text-decoration: underline;
 } */


#container {
    position: relative;
    text-align: center;
}

#container:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

#menu {
    position: fixed;
    background: linear-gradient(to right, #fb5283, #ff3527);
    z-index: 1;
}

.img-menu {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#menu,
#menu ul {
    list-style: none;
}


#menu>li {

    position: relative;
    border-right: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, .25);
    perspective: 1000px;

}

#menu a {
    display: block;
    position: relative;
    z-index: 10;
    padding: 13px 20px 13px 20px;
    text-decoration: none;
    color: white;
    line-height: 1;
    font-weight: 600;
    font-size: 14px;
    background: transparent;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
    transition: all .25s ease-in-out;

}

#menu>li:hover>a {
    color: white;
    text-shadow: none;
}

#menu li ul {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: transparent;
    overflow: hidden;
    transform-origin: 50% 0%;

}


#menu li:hover ul {

    padding: 15px 0;
    background: #333;
    opacity: 1;
    visibility: visible;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, .5);
    animation-name: swingdown;
    animation-duration: 1s;
    animation-timing-function: ease;

}

@keyframes swingdown {
    0% {
        opacity: .99999;
        transform: rotateX(90deg);
    }

    30% {
        transform: rotateX(-20deg) rotateY(5deg);
        animation-timing-function: ease-in-out;
    }

    65% {
        transform: rotateX(20deg) rotateY(-3deg);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: rotateX(0);
        animation-timing-function: ease-in-out;
    }
}

#menu li li a {
    padding-left: 15px;
    font-weight: 400;
    color: #ddd;
    text-shadow: none;
    border-top: dotted 1px transparent;
    border-bottom: dotted 1px transparent;
    transition: all .15s linear;
}

#menu li li a:hover {
    color: white;
    border-top: dotted 1px rgba(255, 255, 255, .15);
    border-bottom: dotted 1px rgba(255, 255, 255, .15);
    background: rgba(0, 223, 252, .02);
}


/* -----------------------------------menu--------------------------------- */


.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8)
}


.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0, 5;
    animation: zoom 25s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1)
    }
}


.banner {
    position: absolute;
    top: 37%;
    left: 13%;
}

.banner h1 {
    color: white;
    font-size: 2rem;
    font-family: "Muli", serif;
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.5s forwards;
    opacity: 0;
}

.banner p {
    font-family: "Muli", sans-serif;
    color: white;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.7s forwards;
    opacity: 0;
}

.banner button {
    font-family: "Muli", serif;
    background: #fb5283;
    background: linear-gradient(to right, #fb5283, #ff3527);
    padding: 1rem 2.5rem;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    outline: none;
    animation: moveBanner 1s 0.9s forwards;
    opacity: 0;

}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }

    100% {
        transform: translateY(0)rotateY(0);
        opacity: 1;
    }

}


@media(max-width: 800px) {

    .banner {
        top: 24%;
        left: 13%;
    }

    .banner p {
        font-size: 1.6rem;
    }

    .banner button {
        margin-bottom: 10px;
    }

    .download {
        margin-left: 0px;
    }
}

.download a {
    text-decoration: none;
    color: white;
}

.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;
    padding-bottom: 100px;
}

.conhecimento:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2) { /* A pseudo-classe nth-child seleciona elementos dentre uma árvore de elementos se referindo a posição específica de cada um.*/
    grid-column: 3 / 6; 
    grid-row: 4 / 4;
}

.conhecimento:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 8 / -1;
}

.conhecimento:nth-child(4) {
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(5) {
    grid-column: 12 / 15;
    grid-row: 4 / 5;
}

.conhecimento:nth-child(6) {
    grid-column: 11 / 14;
    grid-row: 7 / -1;
}

.sessao-conhecimento {
    background-color: #f5f5f5;
}

.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.5rem;
    background-color: #f5f5f5;
}

.sessao-header h1 {
    font-family: "Muli", serif;
    font-size: 3rem;
    color: black;
    border-bottom: solid 3px #fb5283;
}

.conhecimento-header {
    display: flex;
    align-items: center;
    color: #4b4b4b;

}

.conhecimento-header {
    font-size: 2.5rem;
}

.conhecimento-header h3 {
    font-family: "Muli", serif;
    font-size: 2rem;
    padding-left: 1rem;
}

.conhecimento-text {
    font-family: "Josefin Slab", serif;
    font-weight: 600;
    margin-top: 1rem;
}


.conhecimentos-img-wrapper {
    grid-column: 7 / 11;
    grid-row: 3 / 6;
    width: 100%;
}

.conhecimentos-img-wrapper img {
    object-fit: cover;
    width: 100%;
}

.img-node {
    width: 35px;
    height: 35px;
}

@media (max-width: 767px) {

    .sessao-header h1 {
        font-size: 1.8rem;
    }

    .conhecimentos {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

.line {
    border: 1px solid #e5e5e5;
}

.sessao-projetos {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: rgb(245, 245, 245);
    padding-bottom: 20px;
}


.card-img-top {
    height: 100% !important;
    width: 100% !important;
    cursor: pointer;
}

.btn:focus {
    box-shadow: none !important;
}


.card {
    flex: none;
}

@media (max-width: 768px) {
    .sessao-projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}


.title {
    font-weight: bold;
    padding: 1rem;
}

@media(max-width: 800px) {
    .title {
        font-size: 0.9rem;
    }
}

span {
    font-size: 12px;
    font-weight: 500;
}


.card-body {
    padding: 0 !important;
}


.botao {
    margin-top: 20px;
    width: 100%;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

.button-link {
    text-decoration: none;
    color: white;
}


.footer-content {
    background-color: #fb5283;

}

.divContent {
    text-align: center;
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 20px;
}

.img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.paragraph {
    font-family: "Muli", serif;
    color: white;
    font-size: 1.2rem;
}





.sessao-sobre-mim {
    padding: 7%;
    height: 100vh;
    background-color: #f5f5f5;
}


.meu-jeito {
    font-weight: bold;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

.hobbies {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: underline #fb5283;
    font-family: "Roboto", sans-serif;
}

.paragrapoh-hob {
    font-weight: bold;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

/* -------------------voltar ao topo---------------- */

#btnTop {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(74, 21, 75, .5);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.rocket{
    width: 40px;
    height: 40px;
}

.arrow {
    border: solid #4A154B;
    border-width: 0 7px 7px 0;
    padding: 5px;
    display: inline-block;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* -------------------voltar ao topo---------------- */
.sessao-contato {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-wrapper {
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

.contato-left {
    width: 35%;
    background: linear-gradient(rgba(15, 15, 15, 0.6), rgba(22, 22, 22, 0.9)), url(assets/contato.jpg);
    background-size: cover;
}



@media (max-width: 800px) {

    .contato-wrapper {
        width: 94%;
        height: 400px;
    }

    .contato-right {
        width: 80%;
    }

    .contato-left {
        width: 70%;
    }
}


.contato-right {
    width: 100%;
    text-align: center;
}

.contato-right h1 {
    margin-top: 25px;
    font-family: "Muli", serif;
}

.input-group {
    justify-content: center;
    margin-top: 40px;
}

.field {
    border: 0;
    border-bottom: 1px dashed #818181;
    width: 60%;
    background-color: #f5f5f5;
}

textarea {
    max-width: 25rem;
    max-height: 2rem;
}

input::placeholder {
    font-size: 1.4rem;
    font-family: "josefin Slab", serif;
}

textarea::placeholder {
    font-size: 1.5rem;
    font-family: "josefin Slab", serif;
}

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.btn-submit {
    margin-top: 50px;
    width: 60%;
    height: 40px;
    border: 0;
    border-radius: 8px;
    color: white;
    background: linear-gradient(to right, #fb5283, #ff3527);
}